<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.css"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css"
    />
<body>
    <div class="container">
        <h1>Budget All</h1>
        
        <table>
            <a href="/budgets/new">New</a>
            {% for budget in allBudgets %}
            <tr>
                <td>
                    {{ budget.date }} 
                    <a href="/budgets/{{ forloop.index0 }}"> {{ budget.name }} </a>
                    {{ budget.amount }}
                </td>
            </tr>
            {% endfor %}
            
        </table>
        
    </div>
</body>
</html>