<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/normalize.css">
    <link rel="stylesheet" href="/public/skeleton.css">
</head>
<body>
    
    <div class="container">
        
        <h1>Budgtr ALL</h1>
        {% for showBud in myBudget %}
        <li>
           
             The <a href="/index/{{
                forloop.index0}}"> {{showBud.name | capitalize}} </a>
           
           
        </li>
        {% endfor %}
    </div>
</body>
</html>