<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/normalize.css">
    <link rel="stylesheet" href="/skeleton.css">
    <title>index</title>
</head>
<body>
    <div class="container">
        <h1>Budget All</h1>
        <table>
            {% for expenditure in Budget%}
            <tr>
                <td>{{expenditure.date}}</td>
                <td><a href="">{{expenditure.name}}</a></td>
                <td>{{expenditure.amount}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>

</body>
</html> 