<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/skeleton.css">
</head>
<body>
<h1>Budgtr ALL</h1>
<div class = 'container'> 

<table>
    
<tr>
    <th>Date</th>
    <th>Name</th>
    <th>Amount</th>
</tr>
{%for record in allRecords%}
<tr>
    <td> {{record.date}}</td>
    
    <td> <a href="/show/{{ forloop.index0 }}">{{record.name}}</a></td>

    <td> {{record.amount}}</td>
    
</tr>
{% endfor %}
</table>
<a href="/new">Add new record</a>
</div>
</body>
</html>