<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Public/normalize.css">
    <link rel="stylesheet" href="/Public/skeleton.css">
    <title>Document</title>
</head>
<body>

    <div class="container">
    <h1>Budgtr ALL</h1>

    <table>
        
        <tr>Income</tr><td>1000</td>
        <tr>Taxes</tr><td>-300</td>
        <tr>Retirement</tr><td>-200</td>
        <tr>Savings</tr><td>-100</td>
        <tr>Credit Card Payment</tr><td>-100</td>
        <tr>Monthy Birthday Money from Aunt Tilda</tr><td>20</td>
        <tr>Coffee</tr><td>-4</td>
        <tr>Internet</tr><td>-100</td>
        <tr>Groceries</tr><td>-76</td>
        <tr>Pet Food</tr><td>-7</td>
        
    </table>
    </div>
    
</body>
</html>