<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
    <title>Document</title>
   
</head>
<body>
    <h1>Add new item</h1>
    <div class="container">
    <form action="/budget" method="POST">
            Date: <input type="text" placeholder="date" name="date" /><br/>
            
            Name: <input type="text" placeholder="name" name="name" /><br/>
            
            Amount: <input type="text" placeholder="amount" name="amount" /><br/>
        
            From: <input type="text"placeholder="from" name="from" /><br/>
            
            

            <input type="submit" value="Create new item"/>
            </form>
            </div>
</body>
</html>