<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css ">
    <title>Add-Items</title>
</head>
<body>
    <h1>Add a new Item</h1>
    <form action="/budgets" method="POST">
        <input type="text" name="date" placeholder="Date as Month Day"/> <br>
        <input type="text" name="name" placeholder="Name of item"/> <br>
        <input type="text" name="amount" placeholder="Amount earned/lost"/> <br>
        <input type="text" name="from" placeholder="From where?"/> <br>
        <input type="text" name="tags" placeholder="Enter some tags"/> <br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>