<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/skeleton.css">
    <title>Form</title>
</head>
<body>

    <div class="container">
    <h1>Add New Budget</h1>
        <form action="/budget" method="POST">
            Date: <input type="text" name="date" id="date" placeholder="Date">
            Name: <input type="text" name="name" id="name" placeholder="Budget Name"><br>
            From: <input type="text" name="from" id="from" placeholder="Company Name">
            Amount: <input type="number" name="amount" id="amount" placeholder="$$">
            {% comment %} tags:  {% endcomment %}
            <input type="submit" name="Add Budget">     
        </form>
    
    </div>

</body>
</html>