<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/skeleton.css">
</head>
<body>

    <div class = 'container'> 
        
    
        <h1>Add new record</h1>
      
        <form action="/new" method="POST">
            Date: <input type="text" name="date" placeholder="date"/><br/>
            Name: <input type="text" name="name" placeholder="name"/><br/>
            From: <input type="text" name="from" placeholder="from"/><br/>
            Amount: <input type="text" name="amount" placeholder="amount"/><br/>
            Tags: <input type="text" name="tags" placeholder="tags"/>
            <input type="submit" value="Create Record"/>




        </form>
     <!-- <a href="/index">Submit</a> -->
    
    
    
    
    
    </div>
    
</body>
</html>