<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/normalize.css">
    <link rel="stylesheet" href="/skeleton.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
    <h1>Create a new Expense</h1>
    <form action="/" method= "POST">
        <label for="date">Date:</label>
        <input type="text" id="date" name="date">

        <label for="name">Name:</label>
        <input type="text" id="name" name="name">

        <label for="amount">Amount:</label>
        <input type="number" id="amount" name="amount">

        <label for="from">From:</label>
        <input type="text" id="from" name="from">

        <label for="tags">Tags</label>
        <input type="text" id="tags" name = "tags">
    
        <input type="Submit" value="Create Expense">
    </form>

    </div>
</body>
</html>