<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/normalize.css">
    <link rel="stylesheet" href="/skeleton.css">
    <title>new</title>
</head>
<body>
    <div class="container">
        <h1>New Expenditure</h1>
        <form action="/create" method="POST"><br>
            Date <input type="text" name="date" placeholder="month day"><br>
            Name <input type="text" name="name" placeholder="income"><br>
            Amount <input type="text" name="amount" placeholder="100"><br>
            From <input type="text" name="from" placeholder="John Doe"><br>
            Tags <input type="text" name="tags" placeholder="optional"><br>
            <input type="submit" value="submit"><br>
        </form>
    </div>
    
</body>
</html>