<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
</head>
<body>
    <h1>Add New Expense/Income</h1>
    <form action="/index" method="post">
       <table>
       <td> <input type="text" placeholder="date" name="date"></td><br>
       <td><input type="text" placeholder="name" name="name"></td><br>
       <td>  <input type="number" placeholder="amount" name="amount"></td><br>
        <td> <input type="text" placeholder="from" name="from"></td>
        <td> <input type="text" placeholder="tags" name="tags"></td>
        </table>
        <input type="submit" value="submit">
    </form>
</body>
</html>