<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.css" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <h1>Add a new expenditure</h1>
        <!--  NOTE: action will be the route, method will be the HTTP verb-->
        <form action="/budgets" method="POST">
            <label for="name">Name</label>
            <input type="text" name="name" /><br/>
            <label for="date">Date</label>
            <input type="text" name="date" /><br/>
            <label for="from">From</label>
            <input type="text" name="from" /><br/> 
            <label for="amount">Amount</label>
            <input type="text" name="amount" /><br/>
            <label for="tags">Tags</label>
            <input type="text" name="tags" /><br/>
            <input type="submit" value="Add Expenditure"/>
        </form>
</body>
</html>