<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
<link rel="stylesheet" href="/css/app.css">
<title>Budget ALL</title>
</head>
<body>
    <div class="container">
        <h1>Budget ALL</h1>
        <a href="/budgets/new" class="button">New</a>
        <table>
        {% for budget in budgets %}
        <tr>
            <td>{{ budget.date }}</td>
            <td><a href="/budgets/{{ forloop.index0 }}">{{ budget.name }}</a></td>

            <td>{{ budget.amount }}</td>
        </tr>
        {% endfor %}
        </table>
    </div>
</body>
</html>